/*global*/
body{margin: 0; font-family: 'Allerta', sans-serif; }

figure{margin: 0;}

.contenedor{margin: auto; width: 950px;}


.left{float: left;}

.right{float: right;}

/*header*/
.header{background-color: #273b47;}

/*logotipo*/
.logotipo{display: inline-block;}

/*menu de opcinoes*/
.menu{display: inline-block; float: right; padding-right: 20px;}

.menu .indicador{border-top:3px solid #7dcd40;}

.menu li{display: inline-block;}

.menu a{color: white; text-decoration: none; font-size: 13px; border-right: 1px solid white; padding: 0 13px 3px 6px;}

.menu button{display: inline-block; border-radius: 3px; background: #ff4842; border: 0; padding: 6px; color: white;}

/*seccion buscar*/

.principal input{border-radius: 4px; border: 0; margin:6px 0; height: 25px;}

/*seccion principal foto principal*/
.principal{background-color: #efefef;}

.alto{height: 450px;}

.background{background-image: url("../img/principal.jpg"); background-size: 100% 100%; /*overflow: hidden;*/}

.mensaje{display: inline-block; background-color: rgba(239,239,239,.7); border-radius: 2px; position: relative; top: 290px; left: 15px;}

.mensaje h2{color: white; margin:0; font-size: 18px;  border-bottom: 1px solid gray; }

.mensaje p{font-size: 9px; display: inline-block; padding-bottom: 20px;}

.mensaje h2, p{padding: 20px; font-family: 'Montserrat', sans-serif; color: #515151; margin: 0 15px;}

/*anuncios*/
.anuncios{ display: flex; flex-wrap: wrap; justify-content: space-between;}

.anuncio{margin-top: 20px;}

.anuncio span{ display: block; padding-bottom: 20px; border-bottom: 1px solid gray; color: #6a6a6a}

.anuncio p {font-size: 10px; display: inline-block; margin: 3px 5px 3px 0  ; padding: 3px 5px 3px 0; color: #6a6a6a}

/*paginaciond el final*/
.paginacion{display: flex; justify-content: flex-start; margin:30px 0 0 370px; padding-bottom: 50px; }

.paginacion div{background-color: #eaeaea; margin-left: 15px; padding: 5px 8px; color: gray; font-size: 15px;}

.paginacion span{color: gray;}